/TanukiColiseum/bin
/TanukiColiseum/obj
/packages
/.vs
/TanukiColiseum/.vs/TanukiColiseum/v16/.suo
/TanukiColiseum/TanukiColiseum.csproj.user
/TanukiColiseumTests/bin
/TanukiColiseumTests/obj
/log
/TanukiColiseum.setting.xml
*.bak
