<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.2" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="ReactiveProperty" version="7.5.1" targetFramework="net472" />
  <package id="ReactiveProperty.Core" version="7.5.1" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CommandLine" version="2.0.0-beta1.20427.1" targetFramework="net472" />
  <package id="System.CommandLine.DragonFruit" version="0.3.0-alpha.20427.1" targetFramework="net472" />
  <package id="System.CommandLine.Rendering" version="0.3.0-alpha.20427.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>